<!-- Container Right -->
<div class="container">

  <img src="/assets/images/trackme.png" />

  <div class="login"
    [formGroup]="loginForm">

    <!-- Username -->
    <mat-form-field
      appearance="outline">
      <mat-label>User name</mat-label>
      <input
        style="width:calc(100% - 24px)"
        matInput
        placeholder="Enter your email"
        formControlName="username" />
      <mat-icon svgIcon="user_toolbar"></mat-icon>
      <mat-error>The <strong>username</strong> is required</mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field
      appearance="outline">
      <mat-label>Password</mat-label>
      <input
        style="width:calc(100% - 24px)"
        type="password"
        matInput
        placeholder="password"
        formControlName="password" />
      <mat-icon svgIcon="user_password"></mat-icon>
      <mat-error>The <strong>password</strong> is incorrect</mat-error>
    </mat-form-field>

    <!-- LOGIN button -->
    <button
      [disabled]="loading"
      mat-raised-button
      color="primary"
      (click)="onSubmit()">
      Login
    </button>
    <div *ngIf="error" class="login-error">{{error}}</div>
  </div>
</div>
