/* ***********************
 * LAYOUT
 */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1rem;
}

.status-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.status-bar-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tracking-milestone {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.trkMilestone-box {
  width: 130px;
  height: 20px;
  /* background-color: lightgreen; */
  border: 1px solid grey;
  border-radius: 1px 60px 6px;
}

.last-event {
  height: 24px;
  padding: 0.75em;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.last-event-date {
  position: absolute;
  left: -40px;
  font-size: 0.75em;
  z-index: 20;
}

.last-event-message {
  position: absolute;
  left: 40px;
  z-index: 20;
  width: 300px;
}

/* ***********************
 * TYPOGRAPHY
 */
.trkMilestone-text {
  font-size: 0.5em;
}

.last-event-text {
  font-size: 0.5em;
}

.state {
  font-size: 2em;
  color: white;
  font-weight: 900;
  padding: 0.75em;
  width: max-content;
}

.HOLD {
  background-color: orange;
}

.STOP {
  background-color: red;
}
