<!-- GENERAL block -->
<div
  [formGroup]="formData">

  <h2 class="block-title">
    Order No. {{ (orderId == null)? 'New' : orderNo.value }}
  </h2>

  <div
    class="container-formData"
    formGroupName="general">

    <!-- Client -->
    <mat-form-field appearance="fill">
      <mat-label>Client</mat-label>
      <mat-select
        formControlName="clientId"
        placeholder="Client"
        required>
        <mat-option
          *ngFor="let client of clientOptions"
          [value]="client.id">
          {{ client.name }}
        </mat-option>
      </mat-select>
      <mat-error>The client is <strong>required</strong></mat-error>
    </mat-form-field>

    <!-- Client Reference -->
    <mat-form-field appearance="fill">
      <mat-label>Client Purchase Orde</mat-label>
      <input
        matInput
        placeholder="Client Purchase Order"
        formControlName="clientRef">
    </mat-form-field>

    <!-- Order Datetime -->
    <mat-form-field appearance="fill">
      <mat-label>Order date </mat-label>
      <input
        matInput
        placeholder="Order date"
        [matDatepicker]="orderDatetime"
        formControlName="orderDatetime"
        required>
      <mat-datepicker-toggle matSuffix [for]="orderDatetime"></mat-datepicker-toggle>
      <mat-datepicker #orderDatetime></mat-datepicker>
    </mat-form-field>

    <!-- Order Type -->
    <mat-form-field appearance="fill">
      <mat-label>Order Type</mat-label>
      <mat-select
        placeholder="Order type"
        formControlName="orderType"
        required>
        <mat-option
          *ngFor="let order of ordersTypeOptions"
          [value]="order.id">
          {{ order.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Shipment Method -->
    <mat-form-field appearance="fill">
      <mat-label>Shipment method</mat-label>
      <mat-select
        formControlName="shipmentMethod"
        placeholder="Shipment Method">
        <!-- [errorStateMatcher]="matcher"> -->
        <mat-option
          *ngFor="let method of shipmentOptions"
          [value]="method.id">
          <mat-icon svgIcon="{{method.name.toLowerCase()}}"></mat-icon>&nbsp;{{ method.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- INCOTERM -->
    <mat-form-field appearance="fill">
      <mat-label>Incoterm</mat-label>
      <mat-select
        formControlName="incoterm"
        placeholder="Incoterm">
        <!-- [errorStateMatcher]="matcher"> -->
        <mat-option
          *ngFor="let method of incotermOptions"
          [value]="method.id">
          {{ method.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Pieces -->
    <mat-form-field appearance="fill">
      <mat-label>No. of pieces</mat-label>
      <input
        matInput
        placeholder="Pieces"
        formControlName="pieces">
    </mat-form-field>

    <!-- Delivery Date -->
    <mat-form-field appearance="fill">
      <mat-label>Date of delivery</mat-label>
      <input
        matInput
        placeholder="Delivery date"
        formControlName="deliveryDate"
        disabled>
        <mat-datepicker #deliveryDate></mat-datepicker>
      </mat-form-field>

    <!-- ETA -->
    <mat-form-field appearance="fill">
      <mat-label>Estimated Time of Arrival </mat-label>
      <input
        matInput
        placeholder="E.T.A."
        [matDatepicker]="eta"
        formControlName="eta">
      <mat-datepicker-toggle matSuffix [for]="eta"></mat-datepicker-toggle>
      <mat-datepicker #eta></mat-datepicker>
    </mat-form-field>

    <!-- Legacy Order No -->
    <mat-form-field appearance="fill">
      <mat-label>Legacy Order No</mat-label>
      <input
        matInput
        placeholder="Legacy order No"
        formControlName="legacyOrderNo">
    </mat-form-field>

    <!-- Applicant Name -->
    <mat-form-field appearance="fill">
      <mat-label>Applicant name</mat-label>
      <input
        matInput
        placeholder="Applicant name"
        formControlName="applicantName">
    </mat-form-field>

    <!-- Third Party Id -->
    <mat-form-field appearance="fill">
      <mat-label>Third party id</mat-label>
      <input
        matInput
        placeholder="Third party id"
        formControlName="thirdPartyId"
        required>
    </mat-form-field>

    <!-- Observations -->
    <mat-form-field appearance="fill">
      <mat-label>Observations</mat-label>
      <textarea
        matInput
        placeholder="Observations"
        formControlName="observations"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="2">
      </textarea>
   </mat-form-field>

    <!-- Button SAVE -->
    <button
      [disabled]="formData.invalid"
      mat-raised-button
      color="primary"
      title="Save Order"
      color=primary
      (click)="saveOrder(orderId)">
      Save &nbsp;
      <mat-icon svgIcon="save"></mat-icon>
    </button>
g
  </div>
</div>
