<mat-tab-group
  backgroundColor="primary">

  <!-- Grid & Form components -->
  <mat-tab
    *ngFor="let tab of ordersTabs">
    <ng-template
      mat-tab-label>
      {{tab.label}}&nbsp;&nbsp;
      <mat-icon
        (click)="removeTab(tab)"
        class="mini-button"
        svgIcon="delete_red">
      </mat-icon>
    </ng-template>

    <!-- Component to inject into tab -->
    <ng-container
      [ngComponentOutlet]="tab.component",
      [ndcDynamicInputs]="tab.inputs",
      [(ndcDynamicOutputs)]="tab.outputs">
    </ng-container>
  </mat-tab>

  <!--  Order's grid add button  -->
  <mat-tab #addGrid>
    <ng-template mat-tab-label>
      <button
        mat-icon-button
        title="Add a Grid"
        (click)="addClientOrderGridTab()">
        <mat-icon svgIcon="grid"></mat-icon>
      </button>
    </ng-template>
  </mat-tab>

  <!--  Warehouse Receipt add button  -->
  <mat-tab>
    <ng-template mat-tab-label class="wrShAlign">
      <button
        mat-icon-button
        title="Add a new Client Order"
        (click)="addOrderFormTab()">
        WR&nbsp;
        <mat-icon svgIcon="add"></mat-icon>
      </button>
    </ng-template>
  </mat-tab>

  <!--  Shipment add button  -->
  <mat-tab>
    <ng-template mat-tab-label class="wrShAlign">
      <button
        mat-icon-button
        title="Add a new Client Order"
        (click)="addOrderFormTab()">
        SH&nbsp;
        <mat-icon svgIcon="add"></mat-icon>
      </button>
    </ng-template>
  </mat-tab>

</mat-tab-group>
