<mat-tab-group
  backgroundColor="primary">

  <!-- Grid & Form components -->
  <mat-tab
    class="tab-label"
    *ngFor="let tab of ordersTabs">
    <!-- Tab label -->
    <ng-template

      mat-tab-label>
      {{tab.label}}&nbsp;&nbsp;
      <mat-icon
        (click)="removeTab(tab)"
        class="mini-button"
        svgIcon="delete_red">
      </mat-icon>
    </ng-template>

    <!-- Component to inject into tab -->
    <ng-container
      [ngComponentOutlet]="tab.component",
      [ndcDynamicInputs]="tab.inputs",
      [(ndcDynamicOutputs)]="tab.outputs">
    </ng-container>
  </mat-tab>

  <!--  Order's grid add button  -->
  <mat-tab #addGrid>
    <ng-template mat-tab-label>
      <button
        mat-icon-button
        title="Add a Grid"
        (click)="addClientOrderGridTab()">
        <mat-icon svgIcon="spreadsheet"></mat-icon>
      </button>
    </ng-template>
  </mat-tab>

  <!--  Order's form add button  -->
  <mat-tab disabled>
    <ng-template mat-tab-label>
      <button
        mat-icon-button
        title="Add a new Client Order"
        (click)="addClientOrderFormTab()">
        <mat-icon svgIcon="form"></mat-icon>
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>
