
<div [formGroup]="itemForm">

  <div class="container">

    <h2 class="subtitle">Select defaults</h2>
    <div class="container-block">

      <!-- Warehouse -->
      <ng-container *ngIf="warehouseOptions">
        <mat-form-field
          class="form-field"
          appearance="fill">
          <mat-label>Warehouse</mat-label>
          <mat-select
            placeholder="Warehouse"
            formControlName="warehouseId"
            required>
            <mat-option
              *ngFor="let data of warehouseOptions"
              [value]="data.id">
              {{ data.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <!-- Item Type -->
      <mat-form-field
        class="form-field half-size"
        appearance="fill">
        <mat-label>Type of item to scan</mat-label>
        <mat-select
          placeholder="Type of item to scan"
          formControlName="itemType"
          required>
          <mat-option
            *ngFor="let data of itemTypeOptions | async"
            [value]="data.id">
            {{ data.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Item condition -->
      <mat-form-field
        class="form-field half-size"
        appearance="fill">
        <mat-label>Item condition</mat-label>
        <mat-select
          placeholder="Item condition"
          formControlName="condition"
          required>
          <mat-option
            *ngFor="let data of conditionOptions | async"
            [value]="data.id">
            {{ data.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Unit Length -->
      <mat-form-field
        class="form-field half-size"
        appearance="fill">
        <mat-label>Length unit</mat-label>
        <mat-select
          placeholder="Length unit"
          formControlName="unitLength"
          required>
          <mat-option
            *ngFor="let data of unitLengthOptions | async"
            [value]="data.id">
            {{ data.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <mat-divider class="divider"></mat-divider>

    <h2 class="subtitle">Add a new {{itemTitle}} item</h2>
    <div class="container-block">

      <!-- Item ID -->
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Item id</mat-label>
        <input
          matInput
          placeholder="Item ID"
          formControlName="itemId"
          required />
        <mat-error *ngIf="!itemId">The item ID cannot be null</mat-error>
        <mat-error *ngIf="itemId.errors?.minLength">The item ID must be 7 characters minimum</mat-error>
        <mat-error *ngIf="!itemId.errors?.warehouseExists">The warehouse id {{itemId.value.substring(4,6)}} doesn't exists</mat-error>
      </mat-form-field>

      <!-- DECO and/or GENERIC type -->
      <ng-container *ngIf="itemType.value === 'deco' || itemType.value === 'generic'">

        <!-- Part Number -->
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Part number</mat-label>
          <input
            matInput
            placeholder="Part number"
            formControlName="partNumber"
            required>
        </mat-form-field>

        <!-- Serial Number -->
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Serial number</mat-label>
          <input
            matInput
            placeholder="Serial number"
            formControlName="serialNumber"
            required>
        </mat-form-field>

        <!-- UA Number -->
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>UA number</mat-label>
          <input
            matInput
            placeholder="UA number"
            formControlName="uaNumber">
        </mat-form-field>

        <!-- Quantity -->
        <ng-container *ngIf="itemType.value === 'generic'">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Quantity</mat-label>
            <input
              matInput
              placeholder="Quantity"
              formControlName="quantity">
          </mat-form-field>
        </ng-container>

        <!-- Model -->
        <ng-container *ngIf="itemModelsOptions">
          <ng-select
            class="form-field"
            [items]="itemModelsOptions"
            [addTag]="true"
            bindLabel="model"
            bindValue="model"
            dropdownPosition="auto"
            labelForId="Model"
            placeholder="Model"
            [virtualScroll]="true"
            formControlName="model">
          </ng-select>
        </ng-container>

        <!-- Manufacter -->
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Manufacter</mat-label>
          <input
            matInput
            placeholder="Manufacter"
            formControlName="manufacter">
        </mat-form-field>

        <!-- Description -->
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Description</mat-label>
          <input
            matInput
            placeholder="Description"
            formControlName="description">
        </mat-form-field>

        <!-- WIDTH -->
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Width ({{unitLength.value}})</mat-label>
          <input
            matInput
            placeholder="Width"
            formControlName="width">
        </mat-form-field>

        <!-- LENGTH -->
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Length ({{unitLength.value}})</mat-label>
          <input
            matInput
            placeholder="Length"
            formControlName="length">
        </mat-form-field>

        <!-- HEIGHT -->
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Height ({{unitLength.value}})</mat-label>
          <input
            matInput
            placeholder="Height"
            formControlName="height">
        </mat-form-field>

        <!-- WEIGHT -->
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Weight ({{unitWeight.value}})</mat-label>
          <input
            matInput
            placeholder="Weight"
            formControlName="weight">
        </mat-form-field>

      </ng-container>

      <!-- Add button -->
      <div class="add-button">
        <button
          mat-raised-button
          [disabled]="itemForm.invalid"
          (click)="createOrderItem()"
          color="primary">
          Save
        </button>
      </div>

    </div>

    <mat-divider class="divider"></mat-divider>

    <h2 class="subtitle">Order's items</h2>
    <div class="container-block">
      <app-order-item-grid [orderId]="orderId.value"></app-order-item-grid>
    </div>

  </div>
</div>

