<mat-toolbar
  class="header"
  color="primary">

  <!-- Main Menu (HOME) -->
  <a
    class="mainmenu-button"
    mat-button
    (click)="showMainMenu()">
    <mat-icon
      matTooltip="Main menu"
      matTooltipPosition="above"
      svgIcon="home_main">
    </mat-icon>
  </a>

  <!-- Title -->
  <h2 class="main-title">Send Box -&nbsp;</h2>
  <h2 class="subtitle">{{ programSubtitle }}</h2>

  <!-- Options -->
  <div class="header-right">

    <!-- Main Menu (HOME) -->
    <a
      class="header-button"
      mat-button
      (click)="showMainMenu()">
      <mat-icon
        matTooltip="Main menu"
        matTooltipPosition="above"
        svgIcon="home_main">
      </mat-icon>
    </a>

    <!-- Environment Variables -->
    <a
      class="header-button"
      mat-button
      [matMenuTriggerFor]="menu">
      <mat-icon
        matTooltip="See Environment"
        matTooltipPosition="above"
        svgIcon="env_info">
      </mat-icon>
    </a>
    <mat-menu #menu="matMenu">
      <span mat-menu-item>Login: {{ toolbarLoginServer }}</span>
    </mat-menu>

    <!-- User Name -->
    <a
      class="header-button"
      mat-button>
      <mat-icon
        [ngStyle]="{'color': (toolbarUser !== 'no user') ? '#06ed06' : 'red' }"
        [matTooltip]="toolbarUser"
        matTooltipPosition="above"
        svgIcon="user_toolbar">
      </mat-icon>
    </a>

    <!-- Logout -->
    <a
      class="header-button"
      class="toolbar-logout"
      mat-button
      (click)="logoutBtn()">
      <mat-icon
        matTooltip="Logout App"
        matTooltipPosition="above"
        svgIcon="logout">
      </mat-icon>
    </a>
  </div>

</mat-toolbar>

<!-- Main Structure -->
<div class="container">

  <!-- Main Menu -->
  <aside
    class="mainmenu"
    [ngClass]="openClass">
    <app-main-menu></app-main-menu>
  </aside>

  <!-- Body -->
  <main class="main-content" id="main-content">

    <!-- Error Message Line -->
    <div
      class="error-absolute"
      [ngClass]="errorLineClasses">
      <!-- Icon Close -->
      <div
        mat-button
        (click)="errorMessageService.changeErrorMessage('')"
        matTooltip="Close">
        <mat-icon
          class="error-close"
          svgIcon="close">
        </mat-icon>
      </div>
      <!-- Mensaje -->
      <div>
        {{ errorMessage }}
      </div>
    </div>

    <!-- Programs -->
    <router-outlet></router-outlet>
  </main>

</div>
