/* ****************************
 * LAYOUT
*/

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


/* ****************************
 * TYPOGRAPHY
*/
.subtitle {
  font-style: italic;
}
