<mat-tab-group
  *ngIf="formData !== undefined"
  backgroundColor="accent">

  <!-- GENERAL tab  -->
  <mat-tab #general>
    <ng-template mat-tab-label>
      <button
        mat-icon-button
        title="Edit General data">
        <mat-icon svgIcon="edit"></mat-icon>
      </button>
      General
    </ng-template>
    <!-- General Component -->
    <app-order-form-general
      *ngIf="dataAvailable"
      [formData]="formData">
    </app-order-form-general>
  </mat-tab>

  <!-- SHIPPER tab  -->
  <mat-tab #shipper>
    <ng-template mat-tab-label>
      <button
        mat-icon-button
        title="Edit Shipper data">
        <mat-icon svgIcon="edit"></mat-icon>
      </button>
      Shipper
    </ng-template>
    <!-- Shipper Component -->
    <app-order-form-shipper
      *ngIf="dataAvailable"
      [formData]="formData">
    </app-order-form-shipper>
  </mat-tab>

  <!--  CONSIGNEE tab -->)
  <mat-tab #consignee>
    <ng-template mat-tab-label>
      <button
        mat-icon-button
        title="Edit Consignee data">
        <mat-icon svgIcon="edit"></mat-icon>
      </button>
      Consignee
    </ng-template>
    <!-- Consignee Component -->
    <app-order-form-consignee
      *ngIf="dataAvailable"
      [formData]="formData">
    </app-order-form-consignee>
  </mat-tab>

  <!-- EVENTS tab  -->
  <mat-tab #events>
    <ng-template mat-tab-label>
      <button
        mat-icon-button
        title="Edit Events data">
        <mat-icon svgIcon="edit"></mat-icon>
      </button>
      Events
    </ng-template>
    <!-- Events Component -->
    <app-order-form-events
      *ngIf="dataAvailable"
      [formData]="formData">
    </app-order-form-events>
  </mat-tab>

  <!-- ITEM's tab  -->
  <mat-tab #items>
    <ng-template mat-tab-label>
      <button
        mat-icon-button
        title="Items data">
        <mat-icon svgIcon="edit"></mat-icon>
      </button>
      Items
    </ng-template>
    <!-- Items Component -->
    <app-item-add
      [formData]="formData">
    </app-item-add>
  </mat-tab>

  <!-- DOCUMENTS tab  -->
  <mat-tab #documents>
    <ng-template mat-tab-label>
      <button
        mat-icon-button
        title="Add/Remove Documents">
        <mat-icon svgIcon="edit"></mat-icon>
      </button>
      Documents
    </ng-template>
  </mat-tab>

</mat-tab-group>

<!-- Save Order button -->
<button
  mat-fab
  matTooltip="Save Order"
  (click)="saveOrder()"
  color="primary"
  class="app-fab--absolute">
  Save
</button>
