/*
  This will position the FAB in the bottom-right corner.
  Modify to fit your design's requirements.
*/

.app-fab--absolute {
  position: fixed;
  z-index: 100;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .app-fab--absolute {
    bottom: 2rem;
    right: 2rem;
  }
}
