<div class="container">
  <!-- User Info -->
  <div class="user-container">
    <img class="user-img" src="assets/images/avatar_boy.jpg" alt="" />
    <div class="user-info">
      <h3>{{ userInfo ? userInfo.fullName : '' }}</h3>
      <p class="menuEmail">{{ userInfo ? userInfo.email : '' }}</p>
    </div>
  </div>

  <!-- Main menu-->
  <ul>
    <li class="list-option" *ngFor="let menu of authsService.getMainMenu() | async">
      <a class="menu-option" href="/{{menu.pgmId}}">{{menu.title}}</a>
    </li>
  </ul>
</div>
